.alignright {
	float:right;
}

.alignleft {
	float:left;
}

.aligncenter{
	display:block;
	margin:auto;
}

.site-content {
	@include padding-leader();
	@include padding-trailer();
	@include clearfix;
	@include container();
}

.page-content.primary {
	@include column(8);
	
}

.secondary {
	@include column(4);
}